@page "/"

<AuthorizeView>
    <Authorized Context="Auth">
        <h1>Welcome, @Auth.User.FindFirst(ClaimTypes.Name).Value</h1>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

